h1 { 
    background-color: #da871b;
    text-align: center;
}

/* span {
    display: block;
}

img {
    height: 300;
    width: auto;
    margin: auto;
} */

div {
    text-align: center;
}

.intro {
    text-align: justify;
}

table {
    margin: auto;
}

ul li::marker {
    color: orange;
}