h1 {
    background-color: #da871b;
    text-align: center;
}

span {
    display: inline-block;
}

div{
    text-align: center;
}

table {
    margin: auto;
}
ul li::marker {
    color: #da871b;
}
/* img {
    
    text-align: center;
} */