* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
td {
    font-family: 'Courier New', Courier, monospace;
}

.title {
    background-color: #ff921c;
}

body {
    background-color: #eca427;
}

h1 {
    text-align: center;
}

.info {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
  }
  
img, button {
    display: block;
    margin: 1px;
    font-size: medium;
}
 
span {
    display: inline-block;
    margin: 5px;
}

button {
    margin: 0px auto;
    cursor: pointer;
}